<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id = "app">
        <input type = "text" placeholder = "Your Name" v-model = "person.Name">
        <br>
        <input type = "text" placeholder = "Your Surname" v-model = "person.Surname">
        <br>
        <input type = "number" placeholder = "Your Age" v-model = "person.Age">
        <br>

        <input type = "radio" id = "Male" value = "Male" v-model = "person.Gender">
        <label for = "Male">Male</label>
        <br>
        <input type = "radio" id = "Female" value = "Female" v-model = "person.Gender">
        <label for = "Female">Female</label>
        <br>

        <input type = "checkbox" id = "Dog" value = "Dog" v-model = "person.Pets">
        <label for = "Dog">Dog</label>
        <input type = "checkbox" id = "Cat" value = "Cat" v-model = "person.Pets">
        <label for = "Cat">Cat</label>
        <input type = "checkbox" id = "Bird" value = "Bird" v-model = "person.Pets">
        <label for = "Bird">Bird</label>
        <br>

        <select v-model = "person.Role">
            <option value = "" disabled>Slect Role</option>
            <option value = "Admin">Admin</option>
            <option value = "User">User</option>
        </select>
        <br>

        <span> {{ person }} </span>
    </div>>

    <script>
        var app = new Vue({
            el : '#app',
            data : {
                person : {
                    Name : '',
                    Surname : '',
                    Age : '',
                    Gender : '',
                    Pets : [],
                    Role : ''
                }
            }
        });
    </script>
</body>
</html>